/* tables */
table th.sort {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    padding-right: 20px;
}
table th.sort.desc {
	background-image: url(asc.gif);
}
table th.sort.asc {
	background-image: url(desc.gif);
}
table th.sort.desc,table th.sort.asc {
border-bottom: 2px, #8dbdd8, solid;
}
